.dash-page{
    padding: 0px;
}

.dasboard-footer{
    padding: 20px;
    //background-color: rgba(255, 255, 255, 0.078);
}

.dash-nav-wrapper{
    width: 100%;   
    position: relative;    
    top: 0px;
    left: 0px;
   
}

.dash-nav-wrapper .inner{
    width: 90%;   
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.dash-nav-wrapper .nav-drop{
    background-color: $blackColor;
}

.dash-nav-wrapper .link{
    color: white;
    text-decoration: none;
}