.app-wrapper{
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.app-flex{
    display: flex;
}

.app-main-content{
    margin-left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    position: relative;
    background-color: $blackColor;
}

.summary-data{
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;    
}

.summary-data .moveup{
    margin-top: -15px;
    font-size: 16px;
}

.summary-data .link{
    font-size: 17px;
    color: $greyColor;    
}

.special-bg{
    background-color: rgba(255, 255, 255, 0.078);
    border-radius: 5px;
}

.recent-payment{
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.recent-payment .title{
    font-size: 15px;
}

.recent-payment .date{
    margin-top: -25px;
    font-size: 15px;
    font-weight: 400;
}

.summary-card{
    border-radius: 5px;
}

.summary-card-big{
    background-color: $greenColor;
}

.summary-card p{
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
}

.summary-card h3{
    letter-spacing: 2px;
    color: $primaryColor;
    margin-bottom: 10px;
}

.summary-card-white{
    background-color: rgba(255, 255, 255, 0.078);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.summary-card-white h3{
    font-size: 20px;
}

.icon-div{
    width: 45px;
    height: 40px;
    background-color: $greyColor;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.icon-div img{
    width: 100%;
   
}


.recent-verify{
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.078);
    //box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 20px;
    border-radius: 5px;
}

.verification-info{
    width: 400px;
    margin: auto;
    //border: 1px solid $greyColor;
    position: relative;
}

.info .flex-end{  
    width: 50%;
}

.info .flex-start{    width: 50%;
   
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.strike-through{
    text-decoration: line-through;
}

.support-conversation{
    width: 100%;
   position: relative;
}

.support-message-well{
    width: 80%;
    margin: auto;
    height: 400px;  
    border-radius: 5px;   
    overflow: scroll;
}

.support-textbox-area{
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
}

.support-textbox-area div{
    width: 70%;
   
}