.btn {  
    padding: 10px 28px;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;   
    font-style: normal;   
    font-family: "Patua One", serif; 
    transition: all .38s ease-in-out;
}

.w250px{
    width: 250px;
}

.outline{
    border: 1px solid var(--orange-color);
    color: var(--text-color);

    &:hover{
        background-color: var(--orange-color);       
        opacity: 1;
    }
}

.primary{
    background-color: var(--orange-color);
    color: var(--text-color);
    opacity: .8;

    &:hover{
        background-color: var(--orange-color);
        color: var(--text-color);
        opacity: 1;
    }
}

.danger{
    background-color: red;
    color: var(--text-color);
    opacity: .8;

    &:hover{
        background-color: red;
        color: var(--text-color);
        opacity: 1;
    }
}