.btn {  
    padding: 10px 28px;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;   
    font-style: normal;   
    font-family: "Patua One", serif; 
    transition: all .38s ease-in-out;
}

.outline{
    border: 2px solid $orange;
    color: $white; 

    &:hover{
        background-color: $orange;
        color: $primaryColor;
        opacity: .9;
    }
}

.pill{
    border-radius: 30px;     
}


.primary{
    background-color: $orange;
    color: $primaryColor; 
    opacity: .9;  
    font-size: 18px;

    &:hover{
        background-color: $orange;
        color: $primaryColor;
        opacity: 1;
    }
}