$primaryColor: #2D3142;
$white : #F7F3E3;




$antiFlash: #E9ECED;
$fontColor:#51565e;
$headingsColor: #272c37;
$greyColor:rgb(250, 247, 247);
$orange :#f0be6e;
$black:black;


.orange{
    color: $orange;
}

.greenColor{
    color: rgb(166, 241, 166);
}

.whiteColor{
    color: $white;
}