// $primaryColor: #2D3142;
$primaryColor: #191919;
$white : #F7F3E3;




$antiFlash: #E9ECED;
$fontColor:#51565e;
$headingsColor: #272c37;
$greyColor:rgb(250, 247, 247);
$orange :#FBC703;
$black:black;


.orange{
    color: $orange;
}

.redColor{
    color: red;
}

.darkgreenColor{
    color: rgb(32, 145, 32);
}

.greenColor{
    color: rgb(166, 241, 166);
}

.blueColor{
    color: blue;
}

.whiteColor{
    color: $white;
}

.bg-antiFlash{
    background-color: $antiFlash;
}

.bg-grey{
    background-color: $greyColor;
    p, a{
        color: #191919;
    }
}