.nav-container{
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;   
    padding: 20px;
    z-index: 5;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);    
}

// .theme-primary{

//     .nav-inner{
//         width: 90%;
//         margin: auto;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         position: relative;
//     }
    
//     .brand-title{
//         color: $primaryColor;
//         font-style: normal;   
//         font-family: "Patua One", serif;
//         font-size: 25px;
//     }
    
//     .nav-links{    
//         display: flex;  
//         align-items: center;
//         position: relative;
//         gap: 25px;
    
//         .nav-link{
//             font-size: 18px;
//             color: $primaryColor;
//             transition: all .28s ease-in-out;
            
//         }
    
//         .nav-link-wrap{
            
//             &:hover{
//                 border: 2px solid $orange;
//                 border-radius: 10px;
//                 //background-color: $orange;
    
//                 .nav-link{
//                     padding: 10px 28px;
//                     font-size: 16px;
//                     font-weight: 100;
//                     cursor: pointer; 
//                     font-weight: bold; 
//                 }
    
               
//             }
//         }
    
        
//     }
    
//     .nav-btn{
//         width: 150px;   
//     }
// }
