:root {
    --bg-color: #f0f0f0; /* Default background color */
    --orange-color:#FBC703; /* Brand Orange color */
    --text-color: #191919; /* Default text color */
}

.orange{
    color: var(--orange-color);
}

.greenColor{
    color: green;
}

.redColor{
    color: red;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all .38s ease-in-out;
}
  
.dark-theme {
    --bg-color: #191919; /* Dark background color */
    --text-color: #fff; 
}