@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 500;  
    line-height: 34px;    
    color: $headingsColor;
    font-style: normal;   
    font-family: "Patua One", serif;
}


p, a{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: "Sawarabi Gothic", sans-serif;
    line-height: 26px;
    color: $white;
    text-decoration: none; 
   text-align: justify; 
}

.bold{
    font-weight: bold;
}