.filters input,
.filters select {
  padding: 8px 14px;
  font-size: 16px;
  background: white;
  color: #333;
  border: 1.5px solid #ccc;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  ::placeholder {
    color: #aaa;
  }
}

.filters input:focus,
.filters select :focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(63, 136, 255, 0.1);
}

.filters select {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg fill='%23333' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 16px 16px;
  padding-right: 40px;
}

.filters {
  margin-bottom: 10px;
}
